@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* PRIMARY */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* NEUTRAL */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* FONTS */
    --titles: 'Fraunces', serif;
    --text: 'Montserrat', sans-serif;
}



body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10% 25%;
}

.img {
    background-image: url(../images/image-product-desktop.jpg);
    background-size: cover;
    width: 100%;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
   /*  height:inherit; */
    /* max-width: 100%; */
    /*  min-height: 100%; */
}

.main {
    background-color: var(--white);
    padding: 2.2rem;
    padding-right: 3rem;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
}

.perfum {
    color: var(--dark-grayish-blue);
    font-family: var(--text);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .3rem;
}

.title {
    padding: 1.4rem 0;
    font-family: var(--titles);
    font-size: 2.3rem;
    line-height: 2.2rem;
}

.text {
    color: var(--dark-grayish-blue);
    font-family: var(--text);
    padding-bottom: 1.5rem;
    line-height: 1.4rem;
    font-size: 14px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1.5rem;
}

.price-green {
    color: var(--dark-cyan);
    font-family: var(--titles);
    font-size: 2rem;
}

.price-list {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    text-decoration: line-through;
    padding-left: 1rem;
}

.btn {
    min-width: 100%;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-family: var(--titles);
    padding: .8rem;
    border: none;
    border-radius: .5rem;
}